<section class="form-section">
    <form [formGroup]="requestForm" (ngSubmit)="send()" class="form">
        <div >
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Ihre Urlaubsdaten
            </legend>
            <div class="form__vacation-data row">
                <!-- Travel period -->
                <div class="form__field-container col-6">
                    <label class="form__label" for="form-date">Reisezeitraum<span class="star">*</span></label>
                    <mat-form-field
                    [ngClass]="{'invalid': 
                    (form.noValid && startDate.invalid) || 
                    (startDate.dirty && startDate.invalid) }"

                    [ngClass]="{'invalid': 
                    (form.noValid && endDate.invalid) || 
                    (endDate.dirty && endDate.invalid) }"
                    appearance="fill">
                        <mat-date-range-input 
                        [min]="form.minDate" 
                        [rangePicker]="picker">
                          <input matStartDate [formControl]="startDate" placeholder="Start Datum" required>
                          <input matEndDate [formControl]="endDate" placeholder="End Datum"required>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>

                <!-- Number of adults -->
                <div class="form__field-container col-6">
                    <label class="form__label" for="form-number">Anzahl Erwachsene<span class="star">*</span></label>
                    <input 
                    (focus)="form.isFocusAdults = true" 
                    (focusout)="form.isFocusAdults = false"
                    [ngClass]="{'invalid': 
                    (form.noValid && amountOfAdults.invalid) || 
                    (amountOfAdults.dirty && amountOfAdults.invalid) }"
                    [formControl]="amountOfAdults" class="form__field" 
                    type="number" 
                    name="form-number"
                    id="form-number" 
                    pattern="\d+" min="1" max="10" required>
                    <p class="tooltip" *ngIf="
                    (form.noValid && form.isFocusAdults && amountOfAdults.invalid) || 
                    (amountOfAdults.invalid && form.isFocusAdults && amountOfAdults.dirty)
                    ">
                        Bitte geben Sie eine positive Zahl ein.
                    </p>
                </div>
            </div>
        </fieldset>

        <!-- Child section -->
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Kinder
            </legend>
            <p class="Child-text-information">
                Als Familienspezialist ist es uns wichtig, Ihnen ein maßgeschneidertes Angebot zu übermitteln. Bitte
                geben Sie uns daher den Vornamen und das Alter Ihrer Kinder/Ihres Kindes an.
            </p>
            <div class="form__container row">
                <div class="form__field-container col-6">
                    <!-- Child name -->
                    <label class="form__label" for="child-name">Name des Kindes<span class="star">*</span></label>
                    <input 
                    (focus)="form.isFocusChild = true" 
                    (focusout)="form.isFocusChild = false"
                    [ngClass]="{'invalid': 
                    (form.noValid && childName.invalid) || 
                    (childName.dirty && childName.invalid) }"
                    [formControl]="childName" type="text"
                    class="form__field" name="child-name" id="child-name" pattern="[^0-9]+" required>

                    <p class="tooltip" *ngIf="
                    (form.noValid && form.isFocusChild && childName.invalid) || 
                    (childName.invalid && form.isFocusChild && childName.dirty)">
                        Bitte geben Sie einen gültigen Namen ein.
                    </p>
                </div>
                <div class="form__field-container col-6">
                    <label class="form__label" for="day">Geburtstag<span class="star">*</span></label>
                    <div class="select-container">
                        <select [ngClass]="{'invalid': form.noValid && !birthday.valid }" [formControl]="birthday" name="day"
                            id="day" required>
                            <option [ngValue]="null" selected>Tag</option>
                            <option *ngFor="let day of form.days" [value]="day">{{ day }}</option>
                        </select>
                        <select [ngClass]="{'invalid': form.noValid && !monthOfBirth.valid }" [formControl]="monthOfBirth"
                            name="month" id="month" required>
                            <option [ngValue]="null" selected>Monat</option>
                            <option *ngFor="let month of form.months" [value]="month">{{ month }}</option>
                        </select>
                        <select [ngClass]="{'invalid': form.noValid && !yearOfBirth.valid }" [formControl]="yearOfBirth"
                            name="year" id="year" required>
                            <option [ngValue]="null" selected>Jahr</option>
                            <option *ngFor="let year of form.years" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
            </div>
        <div formArrayName="children"> 
                <div *ngFor="let child of childControl; let i = index" [formGroupName]="i">
                    <div class="form__container row col-{{ i }}" >
                        <div class="form__field-container col-6">
                            <!-- Child -->
                            <label class="form__label" for="child-name-{{ i }}">Name des Kindes<span class="star">*</span></label>
                            <input
                            (focus)="child.get('focus')?.patchValue(true)" 
                            (focusout)="child.get('focus')?.patchValue(false)"        
                            [ngClass]="{'invalid': 
                            (form.noValid && child.get('childName')?.invalid) || 
                            (child.get('childName')?.dirty && child.get('childName')?.invalid) }"
                            formControlName="childName" type="text" class="form__field" name="child-name-{{ i }}" id="child-name-{{ i }}" pattern="[^0-9]+" required>
                            
                            <p class="tooltip" *ngIf="
                            (form.noValid && child.get('focus')?.value && child.get('childName')?.invalid) || 
                            (child.get('childName')?.invalid && child.get('focus')?.value && child.get('childName')?.dirty)">
                                Bitte geben Sie einen gültigen Namen ein.
                            </p>
                        </div>
                        <div class="form__field-container col-6">
                            <label class="form__label" for="day-{{ i }}">Geburtstag<span class="star">*</span></label>
                            <div class="select-container">
                                <select 
                                [ngClass]="{'invalid': form.noValid && child.get('childBirthday')?.errors?.['required'] }"
                                formControlName="childBirthday" name="day-{{ i }}" id="day-{{ i }}" required>
                                    <option [ngValue]="null" selected>Tag</option>
                                    <option *ngFor="let day of form.days" [value]="day">{{ day }}</option>
                                </select>
                                <select 
                                [ngClass]="{'invalid': form.noValid && child.get('childMonth')?.errors?.['required'] }"
                                formControlName="childMonth" name="month-{{ i }}" id="month-{{ i }}" required>
                                    <option [ngValue]="null" selected>Monat</option>
                                    <option *ngFor="let month of form.months" [value]="month">{{ month }}</option>
                                </select>
                                <select 
                                [ngClass]="{'invalid': form.noValid && child.get('childYear')?.errors?.['required'] }"
                                formControlName="childYear" name="year-{{ i }}" id="year-{{ i }}" required>
                                    <option [ngValue]="null" selected>Jahr</option>
                                    <option *ngFor="let year of form.years" [value]="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                        <a href="#remove-child" class="remove-child" (click)="removeChildInputSection($event, i)">Kind entfernen</a>
                    </div>
                </div>
            <a href="#addChild" class="add-child" (click)="addNewChilrensdFields()">Kind hinzufügen</a>
        </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Ihre Kontaktdaten
            </legend>
            <div class="contact-data__container row">
                <div class="contact-data__left">
                    <div class="col-6">
                        <div class="contact-data__left-container">
                            <!-- First name -->
                            <div class="form__field-container">
                                <label class="form__label" for="form-first-name">Vorname<span
                                        class="star">*</span></label>
                                <input
                                (focus)="form.isFocusFirstName = true" 
                                (focusout)="form.isFocusFirstName = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && firstName.invalid) || 
                                (firstName.dirty && firstName.invalid) }"
                                [formControl]="firstName"
                                type="text" class="form__field" id="form-first-name" name="form-first-name"
                                pattern="[^0-9]+" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusFirstName && firstName.invalid) || 
                                (firstName.invalid && form.isFocusFirstName && firstName.dirty)">
                                    Bitte geben Sie einen gültigen Vornamen ein.
                                </p>
                            </div>

                            <!-- Last name -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-last-name">Nachname<span
                                        class="star">*</span></label>
                                <input
                                (focus)="form.isFocusLastName = true" 
                                (focusout)="form.isFocusLastName = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && lastName.invalid) || 
                                (lastName.dirty && lastName.invalid) }"
                                [formControl]="lastName"
                                type="text" class="form__field" id="form-last-name" name="form-last-name"
                                pattern="[^0-9]+" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusLastName && lastName.invalid) || 
                                (lastName.invalid && form.isFocusLastName && lastName.dirty)">
                                    Bitte geben Sie einen gültigen Nachnamen ein.
                                </p>
                            </div>

                            <!-- Email -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-email">Email<span class="star">*</span></label>
                                <input
                                (focus)="form.isFocusEmail = true" 
                                (focusout)="form.isFocusEmail = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && email.invalid) || 
                                (email.dirty && email.invalid) }"
                                [formControl]="email"
                                type="email" class="form__field" id="form-email" name="form-email"
                                pattern="^[a-z0-9.]+@[a-z0-9.]+\.[a-z]{2,4}" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusEmail && email.invalid) || 
                                (email.invalid && form.isFocusEmail && email.dirty)">
                                    Bitte geben Sie einen gültige Email ein.
                                </p>
                            </div>

                            <!-- Phonenumber -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-phone">Telefon</label>
                                <input
                                (focus)="form.isFocusPhoneNumber = true" 
                                (focusout)="form.isFocusPhoneNumber = false"
                                [formControl]="phoneNumber" 
                                [ngClass]="{'invalid': 
                                (form.noValid && phoneNumber.invalid) || 
                                (phoneNumber.dirty && phoneNumber.invalid)}"
                                type="tel" class="form__field" id="form-phone" name="form-phone" pattern="^[0-9]+">

                                <p class="tooltip" *ngIf="
                                 (phoneNumber.invalid && 
                                form.isFocusPhoneNumber) && 
                                (phoneNumber.touched || phoneNumber.dirty)">
                                Bitte geben Sie einen gültige Telefonnummer ein.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Street -->
                        <div class="form__field-container">
                            <label class="form__label" for="form-street">Straße<span class="star">*</span></label>
                            <input
                            (focus)="form.isFocusStreet = true" 
                            (focusout)="form.isFocusStreet = false"
                            [ngClass]="{'invalid': 
                            (form.noValid && street.invalid) || 
                            (street.dirty && street.invalid) }"
                            [formControl]="street" type="text"
                            class="form__field" id="form-street" name="form-street"
                            pattern="^[a-zA-ZäöüÄÖÜß\*-. ]+\s{1,1}[0-9a-zA-Z]{1,6}" required>

                            <p class="tooltip" *ngIf="
                            (form.noValid && form.isFocusStreet && street.invalid) || 
                            (street.invalid && form.isFocusStreet && street.dirty)">
                                Bitte geben Sie einen gültige Straße ein.
                            </p>
                        </div>
                        <div class="location-container row">
                            <!-- Zip code -->
                            <div class="form__field-container w-3 wm-100">
                                <label class="form__label" for="form-zip-code">PLZ<span class="star">*</span></label>
                                <input
                                (focus)="form.isFocusZipCode = true" 
                                (focusout)="form.isFocusZipCode = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && zipCode.invalid) || 
                                (zipCode.dirty && zipCode.invalid) }"
                                [formControl]="zipCode"
                                type="text" class="form__field form__zip-code w-100" id="form-zip-code"
                                name="form-zip-code" pattern="\d{4,9}" required>

                            <p class="tooltip" *ngIf="
                            (form.noValid && form.isFocusZipCode && zipCode.invalid) || 
                            (zipCode.invalid && form.isFocusZipCode && zipCode.dirty)">
                                Bitte geben Sie einen gültige PLZ ein.
                            </p>
                            </div>

                            <!-- City -->
                            <div class="form__field-container w-6 w-100">
                                <label class="form__label" for="form-city">Stadt<span class="star">*</span></label>
                                <input
                                (focus)="form.isFocusCity = true" 
                                (focusout)="form.isFocusCity = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && city.invalid) || 
                                (city.dirty && city.invalid) }" 
                                [formControl]="city" type="text"
                                class="form__field" id="form-city" 
                                name="form-city" 
                                pattern="[^0-9]+" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusCity && city.invalid) || 
                                (city.invalid && form.isFocusCity && city.dirty)">
                                    Bitte geben Sie einen gültige Stadt ein.
                                </p>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="form__field-container select-container">
                            <label class="form__label" for="form-country">Land<span class="star">*</span></label>
                            <select 
                            [ngClass]="{'invalid': form.noValid && !country.valid }" 
                            [formControl]="country"
                                name="form-country" id="form-country" required>
                                <option [ngValue]="null" selected>Auswählen</option>
                                <option value="at">Österreich</option>
                                <option value="de">Deutschland</option>
                                <option value="ch">Shweiz</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contact-data__right">
                    <!-- Message -->
                    <div class="form__field-container p-lr-sm h-100">
                        <label class="form__label" for="form-message">Fragen oder Wünsche</label>
                        <textarea 
                        [formControl]="message"
                        (focus)="form.isFocusMessage = true" 
                        (focusout)="form.isFocusMessage = false"
                        [ngClass]="{'invalid':
                        (form.noValid && message.invalid) || 
                        (message.dirty && message.invalid)}"
                        pattern="^[a-zA-Z0-9äöüÄÖÜß\*!?.\-\+ ]+" name="message" class="form__textarea" id="form-message" cols="30"
                        rows="10"></textarea>

                        <p class="tooltip" *ngIf="
                        message.invalid && 
                        form.isFocusMessage && 
                        (message.touched || message.dirty)">
                            Bitte geben Sie einen gültige Nachricht ein.
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>

        <app-alert
        [alertColor]="form.color"
        [alertMessage]="form.message" 
        *ngIf="(form.noValid && !requestForm.valid) || isSumbited"></app-alert>

        <div class="btn-container">
            <button class="form__btn">
                <span>Anfrage</span>
                <span>absenden</span>
            </button>
        </div>
    </div>
    </form>
</section>