<section class="form-section">
    <form [formGroup]="formValidation.requestForm" (ngSubmit)="send()" class="form">
        <div >
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Ihre Urlaubsdaten
            </legend>
            <div class="form__vacation-data row">
                <!-- Travel period -->
                <div class="form__field-container col-6">
                    <label class="form__label" for="form-date">Reisezeitraum<span class="star">*</span></label>
                    <mat-form-field
                    [ngClass]="{'invalid': 
                    (form.noValid && formValidation.startDate.invalid) || 
                    (formValidation.startDate.dirty && formValidation.startDate.invalid) ||
                    (form.noValid && formValidation.endDate.invalid) || 
                    (formValidation.endDate.dirty && formValidation.endDate.invalid)}"
                    appearance="fill">
                        <mat-date-range-input 
                        [min]="form.minDate" 
                        [rangePicker]="picker">
                          <input matStartDate
                          (focus)="form.isFocusStartDate = true; picker.open()" 
                          (focusout)="form.isFocusStartDate = false" 
                          [formControl]="formValidation.startDate" placeholder="Start Datum" pattern="^[a-zA-Z0-9ä\*-T:.Z\(\)\+ ]+" type="text" required>
                          <input matEndDate
                          (focus)="form.isFocusEndDate = true; picker.open()" 
                          (focusout)="form.isFocusEndDate = false" 
                          [formControl]="formValidation.endDate" pattern="^[a-zA-Z0-9ä\*-T:.Z\(\)\+ ]+" placeholder="End Datum" required>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <p class="tooltip" *ngIf="
                    ((form.noValid && form.isFocusStartDate && formValidation.startDate.invalid) || 
                    (formValidation.startDate.invalid && form.isFocusStartDate && formValidation.startDate.dirty)) ||
                    ((form.noValid && form.isFocusEndDate && formValidation.endDate.invalid) || 
                    (formValidation.endDate.invalid && form.isFocusEndDate && formValidation.endDate.dirty))
                    ">
                        Bitte geben Sie ein gültiges Datum ein.
                    </p>
                </div>

                <!-- Number of adults -->
                <div class="form__field-container col-6">
                    <label class="form__label" for="form-number">Anzahl Erwachsene<span class="star">*</span></label>                    
                    <app-input
                        [form]="form" 
                        [control]="formValidation.amountOfAdults"
                        [type]="'number'"
                        [regExp]="'[0-9]+'"
                        [id]="'form-number'"
                        [alertMessage]="'Bitte geben Sie eine positive Zahl ein.'"
                    ></app-input>
                </div>
            </div>
        </fieldset>

        <!-- Child section -->
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Kinder
            </legend>
            <p class="Child-text-information">
                Als Familienspezialist ist es uns wichtig, Ihnen ein maßgeschneidertes Angebot zu übermitteln. Bitte
                geben Sie uns daher den Vornamen und das Alter Ihrer Kinder/Ihres Kindes an.
            </p>
            <div class="form__container row">
                <div class="form__field-container col-6">
                    <!-- Child name -->
                    <label class="form__label" for="child-name">Name des Kindes<span class="star">*</span></label>
                    <app-input
                    [form]="form" 
                    [control]="formValidation.childName"
                    [type]="'text'"
                    [regExp]="'[^0-9\*!<>():-?.]+'"
                    [id]="'child-name'"
                    [alertMessage]="'Bitte geben Sie einen gültigen Namen ein.'"
                ></app-input>
                </div>
                <div class="form__field-container col-6">
                    <label class="form__label" for="day">Geburtstag<span class="star">*</span></label>
                    <div class="select-container">
                        <select [ngClass]="{'invalid': form.noValid && !formValidation.birthday.valid }" [formControl]="formValidation.birthday" name="day"
                            id="day" required>
                            <option [ngValue]="null" selected>Tag</option>
                            <option *ngFor="let day of form.days" [value]="day">{{ day }}</option>
                        </select>
                        <select [ngClass]="{'invalid': form.noValid && !formValidation.monthOfBirth.valid }" [formControl]="formValidation.monthOfBirth"
                            name="month" id="month" required>
                            <option [ngValue]="null" selected>Monat</option>
                            <option *ngFor="let month of form.months" [value]="month">{{ month }}</option>
                        </select>
                        <select [ngClass]="{'invalid': form.noValid && !formValidation.yearOfBirth.valid }" [formControl]="formValidation.yearOfBirth"
                            name="year" id="year" required>
                            <option [ngValue]="null" selected>Jahr</option>
                            <option *ngFor="let year of form.years" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
            </div>
        <div formArrayName="children"> 
                <div *ngFor="let child of formValidation.childControl; let i = index" [formGroupName]="i">
                    <div class="form__container row col-{{ i }}" >
                        <div class="form__field-container col-6">
                            <!-- Child -->
                            <label class="form__label" for="child-name-{{ i }}">Name des Kindes<span class="star">*</span></label>
                            <input
                            (focus)="child.get('focus')?.patchValue(true)" 
                            (focusout)="child.get('focus')?.patchValue(false)"        
                            [ngClass]="{'invalid': 
                            (form.noValid && child.get('childName')?.invalid) || 
                            (child.get('childName')?.dirty && child.get('childName')?.invalid) }"
                            formControlName="childName" type="text" class="form__field" name="child-name-{{ i }}" id="child-name-{{ i }}" pattern="[^0-9\*!<>():-?.]+" required>
                            
                            <p class="tooltip" *ngIf="
                            (form.noValid && child.get('focus')?.value && child.get('childName')?.invalid) || 
                            (child.get('childName')?.invalid && child.get('focus')?.value && child.get('childName')?.dirty)">
                                Bitte geben Sie einen gültigen Namen ein.
                            </p>
                        </div>
                        <div class="form__field-container col-6">
                            <label class="form__label" for="day-{{ i }}">Geburtstag<span class="star">*</span></label>
                            <div class="select-container">
                                <select 
                                [ngClass]="{'invalid': form.noValid && child.get('childBirthday')?.errors?.['required'] }"
                                formControlName="childBirthday" name="day-{{ i }}" id="day-{{ i }}" required>
                                    <option [ngValue]="null" selected>Tag</option>
                                    <option *ngFor="let day of form.days" [value]="day">{{ day }}</option>
                                </select>
                                <select 
                                [ngClass]="{'invalid': form.noValid && child.get('childMonth')?.errors?.['required'] }"
                                formControlName="childMonth" name="month-{{ i }}" id="month-{{ i }}" required>
                                    <option [ngValue]="null" selected>Monat</option>
                                    <option *ngFor="let month of form.months" [value]="month">{{ month }}</option>
                                </select>
                                <select 
                                [ngClass]="{'invalid': form.noValid && child.get('childYear')?.errors?.['required'] }"
                                formControlName="childYear" name="year-{{ i }}" id="year-{{ i }}" required>
                                    <option [ngValue]="null" selected>Jahr</option>
                                    <option *ngFor="let year of form.years" [value]="year">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                        <a href="#remove-child" event-prevent-default class="remove-child" (click)="formValidation.removeChildInputSection(i)">Kind entfernen</a>
                    </div>
                </div>
            <a href="#addChild" event-prevent-default class="add-child" (click)="formValidation.addNewChilrensdFields()">Kind hinzufügen</a>
            <ng-container *ngIf="formValidation.childControl.length > 0">
                <a href="#remove-all" class="remove-all-children" event-prevent-default (click)="formValidation.removeChildrenFromArray()">Alle Kinder entfernen</a>
            </ng-container>
        </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Ihre Kontaktdaten
            </legend>
            <div class="contact-data__container row">
                <div class="contact-data__left">
                    <div class="col-6">
                        <div class="contact-data__left-container">
                            <!-- First name -->
                            <div class="form__field-container">
                                <label class="form__label" for="form-first-name">Vorname<span class="star">*</span></label>
                                <app-input
                                [form]="form" 
                                [control]="formValidation.firstName"
                                [type]="'text'"
                                [regExp]="'[^0-9\*!<>():-?.]+'"
                                [id]="'form-first-name'"
                                [alertMessage]="'Bitte geben Sie einen gültigen Vornamen ein.'"
                            ></app-input>
                            </div>

                            <!-- Last name -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-last-name">Nachname<span
                                        class="star">*</span></label>
                                <input
                                (focus)="form.isFocusLastName = true" 
                                (focusout)="form.isFocusLastName = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && formValidation.lastName.invalid) || 
                                (formValidation.lastName.dirty && formValidation.lastName.invalid) }"
                                [formControl]="formValidation.lastName"
                                type="text" class="form__field" id="form-last-name" name="form-last-name"
                                pattern="[^0-9\*!<>():-?.]+" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusLastName && formValidation.lastName.invalid) || 
                                (formValidation.lastName.invalid && form.isFocusLastName && formValidation.lastName.dirty)">
                                    Bitte geben Sie einen gültigen Nachnamen ein.
                                </p>
                            </div>

                            <!-- Email -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-email">Email<span class="star">*</span></label>
                                <input
                                (focus)="form.isFocusEmail = true" 
                                (focusout)="form.isFocusEmail = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && formValidation.email.invalid) || 
                                (formValidation.email.dirty && formValidation.email.invalid) }"
                                [formControl]="formValidation.email"
                                type="email" class="form__field" id="form-email" name="form-email"
                                pattern="^[a-z0-9.]+@[a-z0-9.]+\.[a-z]{2,4}" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusEmail && formValidation.email.invalid) || 
                                (formValidation.email.invalid && form.isFocusEmail && formValidation.email.dirty)">
                                    Bitte geben Sie einen gültige Email ein.
                                </p>
                            </div>

                            <!-- Phonenumber -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-phone">Telefon</label>
                                <input
                                (focus)="form.isFocusPhoneNumber = true" 
                                (focusout)="form.isFocusPhoneNumber = false"
                                [formControl]="formValidation.phoneNumber" 
                                [ngClass]="{'invalid': 
                                (form.noValid && formValidation.phoneNumber.invalid) || 
                                (formValidation.phoneNumber.dirty && formValidation.phoneNumber.invalid)}"
                                type="tel" class="form__field" id="form-phone" name="form-phone" pattern="[^a-zA-Z\*?:<>.]+">

                                <p class="tooltip" *ngIf="
                                 (formValidation.phoneNumber.invalid && 
                                form.isFocusPhoneNumber) && 
                                (formValidation.phoneNumber.touched || formValidation.phoneNumber.dirty)">
                                Bitte geben Sie einen gültige Telefonnummer ein.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Street -->
                        <div class="form__field-container">
                            <label class="form__label" for="form-street">Straße<span class="star">*</span></label>
                            <input
                            (focus)="form.isFocusStreet = true" 
                            (focusout)="form.isFocusStreet = false"
                            [ngClass]="{'invalid': 
                            (form.noValid && formValidation.street.invalid) || 
                            (formValidation.street.dirty && formValidation.street.invalid) }"
                            [formControl]="formValidation.street" type="text"
                            class="form__field" id="form-street" name="form-street"
                            pattern="^([^\*!<>():-?.])+" required>

                            <p class="tooltip" *ngIf="
                            (form.noValid && form.isFocusStreet && formValidation.street.invalid) || 
                            (formValidation.street.invalid && form.isFocusStreet && formValidation.street.dirty)">
                                Bitte geben Sie einen gültige Straße ein.
                            </p>
                        </div>
                        <div class="location-container row">
                            <!-- Zip code -->
                            <div class="form__field-container w-3 wm-100">
                                <label class="form__label" for="form-zip-code">PLZ<span class="star">*</span></label>
                                <input
                                (focus)="form.isFocusZipCode = true" 
                                (focusout)="form.isFocusZipCode = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && formValidation.zipCode.invalid) || 
                                (formValidation.zipCode.dirty && formValidation.zipCode.invalid) }"
                                [formControl]="formValidation.zipCode"
                                type="text" class="form__field form__zip-code w-100" id="form-zip-code"
                                name="form-zip-code" pattern="[^a-zA-Z\*!<>():-?.]+" required>

                            <p class="tooltip" *ngIf="
                            (form.noValid && form.isFocusZipCode && formValidation.zipCode.invalid) || 
                            (formValidation.zipCode.invalid && form.isFocusZipCode && formValidation.zipCode.dirty)">
                                Bitte geben Sie einen gültige PLZ ein.
                            </p>
                            </div>

                            <!-- City -->
                            <div class="form__field-container w-6 wm-100">
                                <label class="form__label" for="form-city">Stadt<span class="star">*</span></label>
                                <input
                                (focus)="form.isFocusCity = true" 
                                (focusout)="form.isFocusCity = false"
                                [ngClass]="{'invalid': 
                                (form.noValid && formValidation.city.invalid) || 
                                (formValidation.city.dirty && formValidation.city.invalid) }" 
                                [formControl]="formValidation.city" type="text"
                                class="form__field" id="form-city" 
                                name="form-city" 
                                pattern="[^0-9\*!<>():-?.]+" required>

                                <p class="tooltip" *ngIf="
                                (form.noValid && form.isFocusCity && formValidation.city.invalid) || 
                                (formValidation.city.invalid && form.isFocusCity && formValidation.city.dirty)">
                                    Bitte geben Sie einen gültige Stadt ein.
                                </p>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="form__field-container select-container">
                            <label class="form__label" for="form-country">Land<span class="star">*</span></label>
                            <select 
                            [ngClass]="{'invalid': form.noValid && !formValidation.country.valid }" 
                            [formControl]="formValidation.country"
                                name="form-country" id="form-country" required>
                                <option [ngValue]="null" selected>Auswählen</option>
                                <option value="at">Österreich</option>
                                <option value="de">Deutschland</option>
                                <option value="ch">Schweiz</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contact-data__right">
                    <!-- Message -->
                    <div class="form__field-container p-lr-sm h-100">
                        <label class="form__label" for="form-message">Fragen oder Wünsche</label>
                        <textarea 
                        [formControl]="formValidation.message"
                        (focus)="form.isFocusMessage = true" 
                        (focusout)="form.isFocusMessage = false"
                        [ngClass]="{'invalid':
                        (form.noValid && formValidation.message.invalid) || 
                        (formValidation.message.dirty && formValidation.message.invalid)}"
                        pattern="^[a-zA-Z0-9äöüÄÖÜß\*\r\n!?.\+\- ]+" name="message" class="form__textarea" id="form-message" cols="30"
                        rows="10"></textarea>

                        <p class="tooltip" *ngIf="
                        formValidation.message.invalid && 
                        form.isFocusMessage && 
                        (formValidation.message.touched || formValidation.message.dirty)">
                            Bitte geben Sie einen gültige Nachricht ein.
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>

        <app-alert
        [alertColor]="form.color"
        [alertMessage]="form.message" 
        *ngIf="(form.noValid && !formValidation.requestForm.valid) || isSumbited"></app-alert>

        <div class="btn-container">
            <button class="form__btn">
                <span>Anfrage</span>
                <span>absenden</span>
            </button>
        </div>
    </div>
    </form>
</section>