 
 <div class="form__container row col-{{ i }}" *ngFor="let childs of child; let i = index;" >
        <div class="form__field-container col-6">
            <!-- Child -->
            <label class="form__label" for="child-name-{{ i }}">Name des Kindes<span class="star">*</span></label>
            <input type="text" class="form__field" name="child-name-{{ i }}" id="child-name-{{ i }}" pattern="[^0-9]+" required>
        </div>
        <div class="form__field-container col-6">
            <label class="form__label" for="day-{{ i }}">Geburtstag<span class="star">*</span></label>
            <div class="select-container">
                <select name="day-{{ i }}" id="day-{{ i }}" required>
                    <option value="Tag" selected>Tag</option>
                    <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                </select>
                <select name="month-{{ i }}" id="month-{{ i }}" required>
                    <option value="" selected>Monat</option>
                    <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                </select>
                <select name="year-{{ i }}" id="year-{{ i }}" required>
                    <option value="" selected>Jahr</option>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
        </div>
        <a href="#remove-child" class="remove-child" (click)="removeInputChild($event, i)">Kind {{ child[i]+1 }} entfernen</a>
    </div>
<a href="#addChild" class="add-child" (click)="addInputChild($event, 1)">Kind hinzufügen</a>

{{ child | json }}
