.form-section {
    max-width: 120rem;
    padding: 2rem;
    margin: 5rem auto;
}

.form__fieldset {
    margin: 0 0 0.5rem 0;
    legend {
        margin: 0 0 1.5rem 0;
    }
}

.Child-text-information {
    margin: 0 0 1.5rem 0;
}

.form__vacation-data {
    display: flex;
    flex-wrap: wrap;

    .form__vacation-data > * {
        flex: 1;
    }
}

.form__field-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.5rem 0;
    position: relative;
}

.form__container {
    display: flex;
    flex-wrap: wrap;
}

.form__label {
    font-size: 1.7rem;
    margin: 0 0 0.5rem 0;
}

.select-container {
    display: flex;

    & > select {
        flex: 1;
        min-height: 4.5rem;
        margin: 0 1rem 0 0;

        &:last-child {
            margin: 0;
        }
    }
}

.form__field {
    height: 4.5rem;
    padding: 0.5rem 0.8rem;
    outline: none;

    &:focus {
        border-color: var(--color-primary);
    }
}

.form__legend {
    font-size: 2.8rem;
    font-family: "Sansita Swashed", cursive;
    font-weight: bold;
    color: var(--color-primary);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-data__container {
    display: flex;

    @media (max-width: 1023px) {
        flex-direction: column;
    }

    .contact-data__left {
        display: flex;
        flex: 1 1 70%;

        .contact-data__left-container {
            display: flex;
            flex-direction: column;
        }

        @media (max-width: 713px) {
            flex-wrap: wrap;
        }
    }

    .contact-data__right {
        flex: 1 1 30%;
    }
}

.location-container {
    display: flex;

    @media (max-width: 713px) {
        flex-direction: column;
    }
}

.form__textarea {
    height: 100%;
    width: 100%;
    resize: none;
    outline: none;
    padding: 0.5rem 0.8rem;

    &:focus {
        border-color: var(--color-primary);
    }
}

.form__btn {
    font-size: 1.8rem;
    border: none;
    color: white;
    padding: 1rem 6rem;
    text-transform: uppercase;
    background-color: var(--color-primary);
    cursor: pointer;
    transition: all 225ms ease-in-out;

    span {
        display: block;
    }

    &:hover {
        color: var(--color-primary);
        background-color: #f8ba43;
    }
}

.invalid {
    outline: 3px solid var(--color-primary);
}

.tooltip {
    font-size: 1.4rem;
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 0.4rem 0.8rem;
    background-color: rgb(69, 69, 69);
    color: rgb(227, 227, 227);
    transform: translateY(90%) translateX(1rem);
    border-radius: 0.2rem;
    z-index: 10;

    &::after {
        content: "";
        position: absolute;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgb(69, 69, 69);
        top: 0;
        left: 0;
        transform: translateY(-5px) translateX(5px);
    }
}
