<section class="form-section">
    <form [formGroup]="questionForm" (ngSubmit)="send()" class="form">
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Ihre Urlaubsdaten
            </legend>

            <div class="form__vacation-data row">
                <!-- Travel period -->
                <div class="form__field-container col-6">
                    <label class="form__label" for="form-date">Reisezeitraum<span class="star">*</span></label>
                    <input class="form__field" type="date" name="form-date" id="form-date">
                </div>

                <!-- Number of adults -->
                <div class="form__field-container col-6">
                    <label class="form__label" for="form-number">Anzahl Erwachsene<span class="star">*</span></label>
                    <input 
                    (focus)="isFocus = true" 
                    (focusout)="isFocus = false" 
                    [ngClass]="{'invalid': noValid && amountOfAdults.invalid || ((amountOfAdults.dirty && amountOfAdults.touched && amountOfAdults.invalid) && (amountOfAdults.touched || amountOfAdults.dirty)) }" 
                    [formControl]="amountOfAdults" class="form__field" type="number" name="form-number" id="form-number" pattern="\d+" min="1" max="10" required>
                    <p class="tooltip" *ngIf="
                    (isFocus && noValid && amountOfAdults.invalid) || 
                    (isFocus && amountOfAdults.invalid && amountOfAdults.touched)">
                        Bitte geben Sie eine positive Zahl ein.
                    </p>
                    {{ amountOfAdults.valid }}
                </div>
            </div>
        </fieldset>

        <!-- Child section -->
        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Kinder
            </legend>
            <p class="Child-text-information">
                Als Familienspezialist ist es uns wichtig, Ihnen ein maßgeschneidertes Angebot zu übermitteln. Bitte
                geben Sie uns daher den Vornamen und das Alter Ihrer Kinder/Ihres Kindes an.
            </p>
            <div class="form__container row">
                <div class="form__field-container col-6">
                    <!-- Child name -->
                    <label class="form__label" for="child-name">Name des Kindes<span class="star">*</span></label>
                    <input [ngClass]="{'invalid': noValid && !childName.valid }" [formControl]="childName" type="text" class="form__field" name="child-name" id="child-name" pattern="[^0-9]+" required>
                </div>
                <div class="form__field-container col-6">
                    <label class="form__label" for="day">Geburtstag<span class="star">*</span></label>
                    <div class="select-container">
                        <select [ngClass]="{'invalid': noValid && !birthday.valid }" [formControl]="birthday" name="day" id="day" required>
                            <option value="" selected>Tag</option>
                            <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                        </select>
                        <select [ngClass]="{'invalid': noValid && !monthOfBirth.valid }" [formControl]="monthOfBirth" name="month" id="month" required>
                            <option value="" selected>Monat</option>
                            <option *ngFor="let month of months" [value]="month">{{ month }}</option>
                        </select>
                        <select [ngClass]="{'invalid': noValid && !yearOfBirth.valid }" [formControl]="yearOfBirth" name="year" id="year" required>
                            <option value="" selected>Jahr</option>
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <app-add-child></app-add-child>
        </fieldset>

        <fieldset class="form__fieldset">
            <legend class="form__legend">
                Ihre Kontaktdaten
            </legend>
            <div class="contact-data__container row">
                <div class="contact-data__left">
                    <div class="col-6">
                        <div class="contact-data__left-container">
                            <!-- First name -->
                            <div class="form__field-container">
                                <label class="form__label" for="form-first-name">Vorname<span class="star">*</span></label>
                                <input [ngClass]="{'invalid': noValid && !firstName.valid }" [formControl]="firstName" type="text" class="form__field" id="form-first-name" name="form-first-name" pattern="[^0-9]+" required>
                            </div>

                            <!-- Last name -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-last-name">Nachname<span class="star">*</span></label>
                                <input [ngClass]="{'invalid': noValid && !lastName.valid }" [formControl]="lastName" type="text" class="form__field" id="form-last-name" name="form-last-name" pattern="[^0-9]+" required>
                            </div>

                            <!-- Email -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-email">Email<span class="star">*</span></label>
                                <input [ngClass]="{'invalid': noValid && !email.valid }" [formControl]="email" type="email" class="form__field" id="form-email" name="form-email" pattern="^[a-z0-9.]+@[a-z0-9.]+\.[a-z]{2,4}" required>
                            </div>

                            <!-- Phonenumber -->
                            <div class="form__field-container ">
                                <label class="form__label" for="form-phone">Telefon</label>
                                <input type="tel" class="form__field" id="form-phone" name="form-phone" pattern="^[0-9]+">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Street -->
                        <div class="form__field-container">
                            <label class="form__label" for="form-street">Straße<span class="star">*</span></label>
                            <input [ngClass]="{'invalid': noValid && !street.valid }" [formControl]="street" type="text" class="form__field" id="form-street" name="form-street" pattern="^[a-zA-ZäöüÄÖÜß]+\s{1,1}[0-9a-zA-Z]{1,6}" required>
                        </div>
                        <div class="location-container row">
                            <!-- Zip code -->
                            <div class="form__field-container w-3 wm-100">
                                <label class="form__label" for="form-zip-code">PLZ<span class="star">*</span></label>
                                <input [ngClass]="{'invalid': noValid && !zipCode.valid }" [formControl]="zipCode" type="text" class="form__field form__zip-code w-100" id="form-zip-code" name="form-zip-code" pattern="\d{4,9}" required>
                            </div>

                            <!-- City -->
                            <div class="form__field-container w-6 w-100">
                                <label class="form__label" for="form-city">Stadt<span class="star">*</span></label>
                                <input [ngClass]="{'invalid': noValid && !city.valid }" [formControl]="city" type="text" class="form__field" id="form-city" name="form-city" pattern="[^0-9]+" required>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="form__field-container select-container">
                            <label class="form__label" for="form-country">Land<span class="star">*</span></label>
                            <select [ngClass]="{'invalid': noValid && !country.valid }" [formControl]="country" name="form-country" id="form-country" required>
                                <option value="" selected>Auswählen</option>
                                <option value="at">Österreich</option>
                                <option value="de">Deutschland</option>
                                <option value="ch">Shweiz</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="contact-data__right">
                    <!-- Message -->
                    <div class="form__field-container p-lr-sm h-100">
                        <label class="form__label" for="form-message">Fragen oder Wünsche</label>
                        <textarea name="message" class="form__textarea" id="form-message" cols="30"
                            rows="10"></textarea>
                    </div>
                </div>
            </div>
        </fieldset>

        <app-alert *ngIf="noValid && !questionForm.valid"></app-alert>

        <div class="btn-container">
            <button class="form__btn">
                <span>Anfrage</span>
                <span>absenden</span>
            </button>
        </div>
    </form>
</section>