.alert {
    font-size: 2.4rem;
    font-family: "Sansita Swashed", cursive;;
    color: white;
    background-color: #bc1339;
    padding: 2rem 0;
    text-align: center;
    margin: 1rem 0 2rem 0;

    p + p {
        font-family: "Overlock", cursive;
        font-size: 1.8rem;
        margin: 0.6rem 0 0 0;
    }
}