/* You can add global styles to this file, and also import other style files */

@import "assets/fonts/fonts.css";
@import "app/shared/variables";

/* Reset global size and set box size to border box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Set the primary color */
:root {
    --color-primary: #aa2e24;
    --color-default: #424242;
}

/* Set the font size to 10px */
html {
    font-size: 62.5%;
}

/* Set the font size to 16px */
body {
    font-size: 1.6rem;
    color: var(--color-default);
    font-family: "Overlock", cursive;
    background-color: #fcfbf8;
    background-image: url('https://www.seitenalm.at/static/img/recyclingpaper_pattern.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100rem;

}

input,
select,
textarea {
    font-family: inherit;
    appearance: none;
    border: 1px solid #d6d6d6;
    border-radius: 0.3rem;
    background-color: #fff;
    font-size: 1.7rem;
    width: 100%;
}

select {
    padding: 0 3.6rem 0 1.2rem;
    font-family: Overlock, cursive;
    font-size: 1.8rem;
    background-image: url('assets/icons/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem) center;
    background-size: 2.7rem;
    color: var(--color-default);
    cursor: pointer;

    &:focus {
        border-color: var(--color-primary);
    }
}

fieldset {
    border: none;
}

.p-lr-sm {
    padding: 0 0.5rem;
}

.row {
    margin: 0 -0.5rem;
}

.col-6 {
    padding: 0 0.5rem;
    flex: 1 1 50%;

    @media (max-width: $mobile-breakpoint) {
        flex: 1 1 100%;
    }
}

.w-3 {
    width: 35%;
    padding: 0 0.5rem;
}

.w-6 {
    width: 65%;
    padding: 0 0.5rem;
}

.w-100 {
    width: 100%;
}

.wm-100 {
    @media (max-width: $mobile-breakpoint) {
        width: 100%;
    }
}

.h-100 {
    height: calc(100% - 1.5rem);
}

.alert,
.success {
    font-size: 2.4rem;
    font-family: "Sansita Swashed", cursive;
    color: white;
    padding: 2rem;
    text-align: center;
    margin: 1rem 0 2rem 0;
}

.success {
    background-color: #1fa651;
    padding: 3rem 2rem;
}

.alert {
    background-color: #bc1339;

    p + p {
        font-family: "Overlock", cursive;
        font-size: 1.8rem;
        margin: 0.6rem 0 0 0;
    }
}

.mat-form-field-wrapper {
    padding: 0;
}

.mat-form-field {
    border-radius: 0.3rem !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex:focus-within {
    border-color: var(--color-primary);
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 !important;
    border: none !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    height: 4.5rem !important;
    padding: 0.5rem 0.8rem !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid #d6d6d6;
    border-radius: 0.3rem !important;
    background-color: #fff;
    font-size: 1.6rem;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
    background: unset !important;
}
