/* You can add global styles to this file, and also import other style files */

/* Import fonts */
@import 'assets/fonts/fonts.css';

/* Reset global size and set box size to border box */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Set the primary color */
:root {
    --color-primary: #AA2E24;
}

/* Set the font size to 10px */
html {
    font-size: 62.5%;
}

/* Set the font size to 16px */
body {
    font-size: 1.6rem;
    font-family: 'Overlock', cursive;
    background-color: #fcfbf8;
}

fieldset {
    border: none;
}

.row {
    margin: 0 -0.5rem;
}

.col-6 {
    padding: 0 0.5rem;
    flex: 1;
}